<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        
      <authorization>
        <allow roles="Admin" />
        <allow roles="BranchManager" />
        <allow roles="Controller" />
        <allow roles="Exec" />
        
        <deny roles="Accounting" />
        <deny roles="AccountingManager" />
        
        <deny roles="AdminCorp" />
        <deny roles="AMR" />
       
        <deny roles="Credit" />
         
        <deny roles="HR" />
        <deny roles="InsideSales" />
        <deny roles="Operations" />
        <deny roles="Purchasing" />
        <deny roles="PurchasingManager" />
        <deny roles="Sales" />
        <deny roles="Warehouse" />
        <deny users="?"/>
      </authorization>
      
    </system.web>
</configuration>