<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <allow roles="Exec" />
        <allow roles="Operations" />
        <allow roles="Purchasing" />
        <allow roles="PurchasingManager" />
        
        <deny roles="Accounting" />
        <deny roles="AccountingManager" />
        
        <deny roles="AdminCorp" />
        <deny roles="AMR" />
        <deny roles="BranchManager" />
        <deny roles="Controller" />
        <deny roles="Credit" />
        
        <deny roles="HR" />
        <deny roles="InsideSales" />
        
        <deny roles="Sales" />
        <deny roles="Warehouse" />
        <deny users="?"/>
      </authorization>
    
    
    </system.web>
</configuration>