<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
          <allow roles="Exec" />
          <allow roles="AMR" />  
          <allow roles="BranchManager" />
          <allow roles="Sales" />
          <allow roles="Admin" />
        </authorization>
    </system.web>
</configuration>