<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1358.0" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net40" />
  <package id="Telerik.UI.for.AspNet.Ajax.Net45" version="2019.2.514" targetFramework="net40" />
</packages>